.productsWrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 30px;
  @include for-tablet-portrait-up {
    padding-top: 40px;
  }
  @include for-tablet-landscape-up {
    padding-top: 0;
  }
}
.productIntro {
  @include bodyText;
}
.productHeader {
  @include subHeader;
}
.prodImgContainer--all {
  display: inline-block;
  background-color: $yellow;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 20px 0 20px;
  @include for-tablet-portrait-up {
    height: 250px;
  }
  @include for-tablet-landscape-up {
    height: 300px;
  }
  @include for-desktop-up {
    height: 375px;
  }
}
.productImg--all {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform:  translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
  max-width: 100%;
  max-height: 200px;
  @include for-tablet-portrait-up {
    max-height: 250px;
  }
  @include for-tablet-landscape-up {

    max-height: 320px;
  }
  @include for-desktop-up {
    max-height: 400px;
  }
}

.prodTxtContainer--all {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 35px 35px 35px 35px;
  margin-bottom: 25px;
  @include for-tablet-portrait-up {
    padding: 3vw 3vw 3vw 3vw;
    margin-bottom: 0;
    height: 250px;
  }
  @include for-tablet-landscape-up {
    padding: 50px 50px 50px 50px;
    height: 300px;
  }

  @include for-desktop-up {
    min-height: 200px;
    height: 375px;
  }
  a {
    color: $black;
    text-decoration: none;
    font-weight: bold;
  }
}
