.heroCampaignWrapper {
  background-color: black;
}
.heroCampaign {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include heroHeight;
}
.heroContent {
  background-color: rgba(0,0,0,.7);
  position: absolute;
  top: 0;
  width: 100%;
  @include heroHeight;
}
.heroContent--Txt {
  position: relative;
  top: 45%;
  left: 50%;
  margin-right: 20%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  color: $white;
  max-width: 800px;
  @include for-tablet-landscape-up {
    top: 40%;
    margin-right: 40%;
  }
  p {
    @include bodyText;
    color: inherit;
    text-align: center;
    padding-bottom: 20px;
    @include for-tablet-portrait-up {
      padding-bottom: 30px;
    }
  }
  a {
    color: $white;
  }
}
.heroHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: inherit;
  margin-top: 0;
  margin-bottom: 15px;
  @include for-tablet-portrait-up {
    margin-bottom: 30px;
  }
  @include for-tablet-landscape-up {
    font-size: 40px;
    line-height: 1.125;
  }
  @include for-desktop-up {
    font-size: 72px;
    line-height: 1.014;
  }
}
.heroBtn {
  background-color: $white;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 50px;
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  color: $black;
  line-height: 1.25;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%, 0);
  width: 180px;
  height: 54px;
  font-size: 22px;
  cursor: pointer;

  @include for-tablet-landscape-up {
    font-size: 24px;
    width: 226px;
    height: 93px;
  }
  &:focus {
    outline: none;
  }
}

.videoQueueContainer {
  @include heroHeight;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}
.videoContainer {
  display: none;
  position: absolute;
  min-width: 320px;
  width: 100%;
  max-width: 1440px;
  @include heroHeight;
  z-index: 4;
  overflow: hidden;

  @include for-tablet-portrait-up {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
  }
}

.videoPlayer {
  width: 1600px;
  height: 142vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.75);
  -ms-transform: translate(-50%, -50%) scale(0.75);
  transform: translate(-50%, -50%) scale(0.75);
  border: 0;
  z-index: 4;
  @include for-tablet-portrait-up {
    height: 80vh;
  }
  @include for-tablet-landscape-up {
    @include heroHeight;
    -webkit-transform: translate(-15%,0) scale(1);
    -ms-transform: translate(-15%,0) scale(1);
    transform: translate(-15%,0) scale(1);
    top: 0;
    left: 0;
  }
  @include for-desktop-up {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.prizeContainer {
  display: block;
  box-sizing: border-box;
  @include heroHeight;
  background-color: rgba(0,0,0,.7);
  z-index: 4;
  position: absolute;
  bottom: 0;
  color: $white;
  padding: 0 20px 20px 20px;
  @include for-tablet-portrait-up {
    padding: 0 54px 20px 54px;
  }
}
.queueInfo {
  font-family: 'Bullens-Bold', sans-serif;
  line-height: 1.25;
  font-weight: bold;
  h1 {
    margin-bottom: 10px;
  }
  h3 {
      color: inherit;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 24px;
    }
  h3 + p {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.timesUp {
  @include bodyText;

  a {
    color: $white;
  }
}
.getPrizeContainer {
  background-image: url('img/stream_prov.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  overflow: hidden;
}
.darkModal {
  display: block;
  @include heroHeight;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 5;
}
.inputField {
  display: block;
  height: 46px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid $grey;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px 21px 5px 21px;
  font-family: 'HelveticaNeue', sans-serif;

  margin-bottom: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%, 0);

  @include for-tablet-portrait-up {
    width: 396px;
    margin-bottom: 30px;
  }
  &:focus {
    outline: none;
  }
}

.prizeContainer--prizeForm {
  @include for-phone-only {
    display: none;
  }

  position: absolute;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  height: auto;
  color: $white;
  padding: 0 20px 20px 20px;
  @include for-tablet-portrait-up {
    padding: 0 54px 20px 54px;
  }
}

.inputField--superPrize {
  display: block;
  height: 46px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $grey;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  font-family: 'HelveticaNeue', sans-serif;
  margin-bottom: 11px;
  position: relative;

  @include for-tablet-portrait-up {
    width: 320px;
  }
  @include for-tablet-landscape-up {
    width: 396px;
  }
  &:focus {
    outline: none;
  }
}

.inputField--superPrize.city {
  @include for-tablet-portrait-up {
    width: 241px;
    display: inline-block;
    margin-right: 16px;
  }
}
.inputField--superPrize.zip {
  @include for-tablet-portrait-up {
    width: 136px;
    display: inline-block;
  }
}
textarea[name=motivation].inputField--superPrize {
  height: 162px;
  border-radius: 10px;
  @include for-desktop-up {
    width: 545px;
  }
  resize: none;
  &:focus {
    outline: none;
  }
}

.dropDown {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 46px;
  width: 100%;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 50px;
  background-image: url('img/icons/arrow-down.png');
  background-repeat: no-repeat;
  background-position: right 21px center;
  padding: 10px 21px 10px 21px;
  @include for-tablet-portrait-up {
    width: 281px;
  }
  &:focus {
    outline: none;
  }
}
.btn--superPrize {
  display: block;
  background-color: $black;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 50px;
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  color: $white;
  line-height: 1.25;
  margin-top: 17px;
  width: 136px;
  height: 46px;
  font-size: 24px;
  &:focus {
    outline: none;
  }

  @include for-tablet-landscape-up {
    width: 156px;
    height: 64px;
  }
}
.formLabel {
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  text-align: left;
  color: $black;
  font-size: 16px;
  line-height: 1.55;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-indent: 20px;
}
.formSection {
  display: inline-block;
  box-sizing: border-box;
  @include for-tablet-portrait-up {
    float: left;
    &:nth-child(2) {
      padding-left: 30px;
    }
  }
}
.formwrapper {
  background-color: #f0f0f0;
}
.formContainer--super {
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  @include for-tablet-portrait-up {
    min-height: 780px;
  }
  @include for-tablet-landscape-up {
    padding: 50px 50px 50px 50px;
  }
  @include for-desktop-up {
    padding: 70px;
  }
  h2 {
    @include subHeader;
  }
  p {
    @include bodyText;
    margin-bottom: 27px;
  }
}
.formConfirmation {
  @extend .formContainer--super;
  display: none;
}
.heroContent--super {
  background-image: url('img/bullensbilen.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  @include heroHeight;
  &:focus {
    outline: none
  }
}
#heroBtn-compete {
  display: none;
  cursor: pointer;
}
.error {
  border: 1px solid $red;
}
