.footer {
  background-color: $black;
  color: $white;
}

.footerContentContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 65px 54px 65px 54px;
  display: table;
  @include bodyText;
  box-sizing: border-box;
}
.footerSection {
  float: left;
}
.footerLogo {
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-bottom: 54px;
  max-width: 150px;

  @include for-tablet-landscape-up {
    margin-bottom: 0;
  }
}

.footerHeader {
  @include bodyText;
  font-weight: bold;
  color: $white;
  margin-bottom: 10px;
  @include for-tablet-portrait-up {
    margin-top: 0;
    margin-bottom: 15px;
  }
  @include for-tablet-landscape-up {
    margin-bottom: 23px;
  }
}
.footerBodyText {
  @include bodyText;
  font-size: 16px;
  color: $grey;

  @include for-tablet-landscape-up {
    font-size: 14px;
  }
}
.footer-menu {
  display: inline-block;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      @include bodyText;

      @include for-tablet-landscape-up {
        font-size: 14px;
      }
      a {
        text-decoration: none;
        color: $grey;
      }
    }
  }
}
.footerLink {
  text-decoration: none;
  color: $grey;
  display: block;
}
.footerLinksContainer {
  float:right;
  @include for-tablet-portrait-up {
    padding-right: 35px;
  }

  @include for-tablet-landscape-up {
    padding-right: 0;
  }
}
