.header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
  a {
    text-decoration: none;
    display: inline-block;
  }
}
.logo {
  width: 70px;
  height: auto;
  @include for-phone-only {
    margin-top: 25px;
  }
  margin-top: 35px;
  margin-left: 20px;
  @include for-tablet-landscape-up {
    margin-left: 53px;
  }
}
.nav {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.menu {
  display: none;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;


  @include for-tablet-landscape-up {
    position: relative;
    opacity: 1;
    vertical-align: middle;
    float: right;
    clear: both;
    margin-right: 53px;
    margin-top: 47px;
    display: inline-block;
    height: auto;
    width: auto;
    opacity: 1;
    background-color: rgba(255,255,255,0);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-top: 100px;

    @include for-tablet-landscape-up {
      margin-top: 0;
    }
  }
  li {
    display: block;
    text-align: center;
    margin-bottom: 10px;

    @include for-tablet-landscape-up {
      display: inline-block;
      padding-left: 20px;
      text-align: left;
    }

    a {
      text-decoration: none;
      @include bodyText;
      font-size: 24px;
      @include for-tablet-landscape-up {
        font-size: 18px;
      }
    }
  }
}
.mobile-menu {
  z-index: 20;
  float: right;
  clear: both;
  margin-right: 20px;
  margin-top: 35px;
  position: relative;
  height: 15px;
  width: 25px;
  overflow: hidden;
  @include for-tablet-landscape-up {
    display: none;
  };
}
.bar-menu {
  width: 25px;
  height: 3px;
  border-radius: 4px;
  background-color: $red;
  display: block;
  position: absolute;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;

  &:first-child {
    top: 0;
  }
  &:nth-child(0n+2) {
    top: 6px;
  }
  &:nth-child(0n+3) {
    bottom: 0;
  }

}
.menu-active {
  position: relative;

  div:nth-child(0n+1) {
    position: absolute;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
    top: 6px;
    width: 20px;

  }
  div:nth-child(0n+2) {
    display: none;
  }
  div:nth-child(0n+3) {
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
    transform: rotate(-40deg);
    bottom: 11px;
    width: 20px;


  }
}
//Special menu styling depending on pages or state
//Active menu item underline for tablet landscape & desktop
body.page-template-template-contact,
body.page-template-template-historia,
body.page-template-template-produkter {
  @include for-tablet-landscape-up {
    .menu li.current_page_item {
      a:after {
        content: '';
        display: block;
        background: $black;
        height: 2px;
        max-width: 20px;
        width: 100%;
        margin-top: 13px;
      }
    }
  }
}

body.page-template-template-lyckohjulet,
body.page-template-template-price,
body.page-template-template-superpriset {
  @include for-tablet-landscape-up {
    .menu li.current_page_item {
      a:after {
        content: '';
        display: block;
        background: $white;
        height: 2px;
        max-width: 20px;
        width: 100%;
        margin-top:13px;
      }
    }
  }
  .bar-menu {
    background-color: $white;
  }
  .mobile-menu.menu-active {

    .bar-menu {
      background-color: $black;
    }
  }
}
body.page-template-template-lyckohjulet,
body.page-template-template-price,
body.page-template-template-superpriset {
  @include for-tablet-landscape-up {
    .menu li a {
      color: $white;
    }
  }
}
li.page-item-165, li.page-item-114 {
  display: none;
}

.mobile-menu.menu-active {
  height: 20px;
  width: 20px;
  .bar-menu {
    background-color: $red;
  }
}
