/* Breakpoints */
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

/* Text elements */
@mixin mainHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: $black;
  @include for-tablet-portrait-up {

  }
  @include for-tablet-landscape-up {
    font-size: 40px;
    line-height: 1.125;
  }
  @include for-desktop-up {
    font-size: 72px;
    line-height: 1.014;
  }
}

@mixin subHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  text-align: left;
  color: $black;
  font-size: 26px;
  line-height: 1.15384615;

  @include for-tablet-landscape-up {
    font-size: 28px;
  }
}

@mixin bodyText {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: $black;

  @include for-desktop-up {
    font-size: 18px;
    line-height: 1.667;
  }
}

@mixin heroHeight {
  height: 95vh;
  @include for-tablet-portrait-up {
    height: 50vh;
  }
  @include for-tablet-landscape-up {
    height: 100vh;
  }
}
