.productWrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 30px;
  @include for-tablet-portrait-up {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  @include for-tablet-landscape-up {
    padding-top: 0;
    padding-bottom: 100px;
  }
  @include for-desktop-up {
    padding-bottom: 150px;
    .rel{
	    min-height: 370px;
    }
  }
}
.productImgContainer {
  display: inline-block;
  background-color: $yellow;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  @include for-tablet-landscape-up {
    height: 300px;
  }
  @include for-desktop-up {
    height: 375px;
  }
}

.bg {
  display: inline-block;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;

  @include for-phone-only {
    position: relative;
    height: 60vw;
  }
}

.productImg {
  position: relative;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 200px;
  @include for-tablet-landscape-up {
    max-width: 100%;
    max-height: 320px;
    bottom: 50px;
  }
  @include for-desktop-up {
    bottom: 50px;
    max-height: 370px;
  }
}

.txtFieldContainer--singleProd {
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  float: right;
  @include for-tablet-portrait-up {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-bottom: 3vw;
    padding-right: 3vw;
  }
  @include for-tablet-landscape-up {
    padding: 40px 70px 70px 70px;
  }
}
.puffContent.single {
  top: 0;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}
.txtContainer--singleRight {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 35px 35px 35px 35px;
  margin-bottom: 25px;
  @include for-tablet-portrait-up {
    padding: 45px;
    margin-bottom: 0;
    margin-left: 50%;
  }
  @include for-tablet-landscape-up {
    padding: 70px;
  }
}
.prodTxtContainer--all.singleLeft {
  @include for-tablet-portrait-up {
    padding: 45px;
  }
  @include for-tablet-landscape-up {
    padding: 90px;
  }
}

.productTxtContainer {
  padding: 35px;
  box-sizing: border-box;
  float: right;

  @include for-tablet-portrait-up {
    padding: 50px;
  }
  @include for-tablet-landscape-up {
    padding: 90px;
  }
}
.productIntroTxt {
  @include bodyText;
  font-size: 18px;
}
.productIntroSubHeader {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.58;
  text-align: left;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 0;
  @include for-tablet-portrait-up {
    font-size: 14px;
    line-height: 1.667;
  }

  &:first-child {
    margin-top: 0;
  }
}
.productInformation {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.58;
  text-align: left;
  color: $black;

  @include for-tablet-portrait-up {
    font-size: 14px;
  }
}

.allProducts {
  display: block;
  position: relative;

  @include for-tablet-portrait-up {
    height: 115px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    padding-top: 30px;
    box-sizing: border-box;
  }
  @include for-tablet-portrait-up {
    background-color: $yellow;
    height: 100px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include for-tablet-landscape-up {
    height: 120px;
  }
  @include for-desktop-up {
    padding-top: 0;
    height: 150px;
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include for-big-desktop-up {
    padding-left: 30px;
    padding-right: 30px;
  }
  div:nth-child(1) {
    display: none;
    @include for-phone-only {
      display: block;
      position: absolute;
      top: 57px;
      width: 100vw;
      height: 86px;
      background-color: $yellow;
    }
  }
  div:nth-child(2) {
    display: none;
    @include for-phone-only {
      display: block;
      position: absolute;
      bottom: 0;
      width: 75vw;
      height: 88px;
      background-color: $yellow;
    }
  }
}

.otherProductContainer {
  display:inline-block;
  box-sizing: border-box;
  height: 100%;
  position:relative;

  @include for-phone-only {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
    top: -107%;
    width: 32%;
  }
  @include for-tablet-portrait-up {
    width: 100px;
    top: -107%;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  @include for-tablet-landscape-up {
    width: 140px;
    top: -65%;
    margin-left: 15px;
    margin-right: 15px;
  }
  @include for-desktop-up {
    max-width: 150px;
    top:-35%;
    margin-left: 20px;
    margin-right: 20px;
  }
  @include for-big-desktop-up {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.otherProductImg {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  left: 50%;
  -webkit-transform:  translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
  max-height: 70px;
  @include for-tablet-portrait-up {
    max-height: 100px;
  }
  @include for-desktop-up {
    max-height:150px;
  }
}
.otherProductTitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  max-width: 100%;
  overflow: hidden;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: normal;
  color: $black;

  @include for-phone-only {
    font-size: 11px;
    line-height: 1.3;
    margin-top:0;
    height: 32px;
  }
  @include for-tablet-portrait-up {
    font-size: 12px;
    line-height: 1.3;
    height: 32px;
  }
  @include for-tablet-landscape-up {
    font-size: 14px;
    line-height: 1.55;
    height: 20px;
  }
}
