.topSlider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.activeSlide {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  width: 100%;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.inactiveSlide {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.slideSelector {
  position: absolute;
  bottom: 35px;
  display: table;
  z-index: 4;
  position: absolute;
  bottom: 6%;
  left: 50%;
  @include for-phone-only {
    margin-right: 50%;
    transform: translate(-50%, -50%);
  }
  @include for-tablet-portrait-up {
    left: 0;
    bottom: 455px;
    padding-left: 54px;
  }
  @include for-tablet-landscape-up {
    bottom: 44px;
  }

}
.sliderNum {
  display: table-cell;
  padding: 0 5px 0px 5px;
  vertical-align: middle;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: $black;
  cursor: pointer;
}
.sliderNum.active {
  font-weight: bold;
}
.prev {
  background-image: url('img/icons/arrow-prev.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: pointer;
}
.next {
  background-image: url('img/icons/arrow-next.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: pointer;
}
.numDiv {
  display: inline-block;
  padding-bottom: 3px;
}
