.txtFieldImgContainer {
  display: inline-block;
  height: 250px;
  overflow: hidden;
  position: relative;
  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    height: 400px;
  }
}
.txtFieldImgContainer--single {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  position: relative;
  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    height: 400px;
  }
}
.txtFieldHeader {
  margin-top: 0;
}
.txtField {
  @include bodyText;
  p + p {
    margin-bottom: 10px;
  }
  a {
    color: $black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

}
.txtFieldImg {
  height: auto;
  width: 100%;
  top: 0;
  right: 0;
}
.txtFieldContainer {
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  float: right;
  @include for-tablet-portrait-up {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-bottom: 3vw;
    padding-right: 3vw;
  }
  @include for-tablet-landscape-up {
    padding: 70px 70px 70px 70px;
  }
}
