/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* COLORS */
/* FONTS */
@font-face {
  font-family: 'Bullens-Light';
  src: url("fonts/Bullens-Light.otf") format("otf"), url("fonts/bullens-light-webfont.woff2") format("woff2"), url("fonts/bullens-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Bullens-Bold';
  src: url("fonts/Bullens-Bold.otf") format("otf"), url("fonts/bullens-bold-webfont.woff2") format("woff2"), url("fonts/bullens-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeue.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HeveticaNeue-Bold';
  src: url("fonts/HelveticaNeueBd.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
/* Breakpoints */
/* Text elements */
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  line-height: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 0%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.66%; }

.span_10_of_12 {
  width: 83.33%; }

.span_9_of_12 {
  width: 75%; }

.span_8_of_12 {
  width: 66.66%; }

.span_7_of_12 {
  width: 58.33%; }

.span_6_of_12 {
  width: 50%; }

.span_5_of_12 {
  width: 41.66%; }

.span_4_of_12 {
  width: 33.33%; }

.span_3_of_12 {
  width: 25%; }

.span_2_of_12 {
  width: 16.66%; }

.span_1_of_12 {
  width: 8.333%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 599px) {
  .col {
    margin: 1% 0 1% 0%; }

  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; } }
/* MASONRY */
.grid {
  box-sizing: border-box; }

.grid-item {
  width: 100%; }
  @media (min-width: 600px) {
    .grid-item {
      width: 50%; } }

.gridImg {
  position: relative;
  max-width: 100%;
  display: block;
  max-height: 270px; }
  @media (min-width: 600px) {
    .gridImg {
      margin: 0 auto;
      max-height: 10000px; } }
  @media (min-width: 900px) {
    .gridImg {
      margin: 0; } }
  @media (min-width: 1200px) {
    .gridImg {
      width: 100%; } }

.gridTxt p {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000;
  margin-bottom: 10px; }
  @media (min-width: 1200px) {
    .gridTxt p {
      font-size: 18px;
      line-height: 1.667; } }

.gridHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 26px;
  line-height: 1.15384615;
  margin-top: 0; }
  @media (min-width: 900px) {
    .gridHeader {
      font-size: 28px; } }

.header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 20; }
  .header a {
    text-decoration: none;
    display: inline-block; }

.logo {
  width: 70px;
  height: auto;
  margin-top: 35px;
  margin-left: 20px; }
  @media (max-width: 599px) {
    .logo {
      margin-top: 25px; } }
  @media (min-width: 900px) {
    .logo {
      margin-left: 53px; } }

.nav {
  display: block;
  width: 100%;
  margin: 0 auto; }

.menu {
  display: none;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0; }
  @media (min-width: 900px) {
    .menu {
      position: relative;
      opacity: 1;
      vertical-align: middle;
      float: right;
      clear: both;
      margin-right: 53px;
      margin-top: 47px;
      display: inline-block;
      height: auto;
      width: auto;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0); } }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-top: 100px; }
    @media (min-width: 900px) {
      .menu ul {
        margin-top: 0; } }
  .menu li {
    display: block;
    text-align: center;
    margin-bottom: 10px; }
    @media (min-width: 900px) {
      .menu li {
        display: inline-block;
        padding-left: 20px;
        text-align: left; } }
    .menu li a {
      text-decoration: none;
      font-family: 'HelveticaNeue', sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.55;
      text-align: left;
      color: #000000;
      font-size: 24px; }
      @media (min-width: 1200px) {
        .menu li a {
          font-size: 18px;
          line-height: 1.667; } }
      @media (min-width: 900px) {
        .menu li a {
          font-size: 18px; } }

.mobile-menu {
  z-index: 20;
  float: right;
  clear: both;
  margin-right: 20px;
  margin-top: 35px;
  position: relative;
  height: 15px;
  width: 25px;
  overflow: hidden; }
  @media (min-width: 900px) {
    .mobile-menu {
      display: none; } }

.bar-menu {
  width: 25px;
  height: 3px;
  border-radius: 4px;
  background-color: #e80031;
  display: block;
  position: absolute;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }
  .bar-menu:first-child {
    top: 0; }
  .bar-menu:nth-child(0n+2) {
    top: 6px; }
  .bar-menu:nth-child(0n+3) {
    bottom: 0; }

.menu-active {
  position: relative; }
  .menu-active div:nth-child(0n+1) {
    position: absolute;
    -ms-transform: rotate(40deg);
    /* IE 9 */
    -webkit-transform: rotate(40deg);
    /* Chrome, Safari, Opera */
    transform: rotate(40deg);
    top: 6px;
    width: 20px; }
  .menu-active div:nth-child(0n+2) {
    display: none; }
  .menu-active div:nth-child(0n+3) {
    -ms-transform: rotate(-40deg);
    /* IE 9 */
    -webkit-transform: rotate(-40deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-40deg);
    bottom: 11px;
    width: 20px; }

@media (min-width: 900px) {
  body.page-template-template-contact .menu li.current_page_item a:after,
  body.page-template-template-historia .menu li.current_page_item a:after,
  body.page-template-template-produkter .menu li.current_page_item a:after {
    content: '';
    display: block;
    background: #000000;
    height: 2px;
    max-width: 20px;
    width: 100%;
    margin-top: 13px; } }

@media (min-width: 900px) {
  body.page-template-template-lyckohjulet .menu li.current_page_item a:after,
  body.page-template-template-price .menu li.current_page_item a:after,
  body.page-template-template-superpriset .menu li.current_page_item a:after {
    content: '';
    display: block;
    background: #ffffff;
    height: 2px;
    max-width: 20px;
    width: 100%;
    margin-top: 13px; } }
body.page-template-template-lyckohjulet .bar-menu,
body.page-template-template-price .bar-menu,
body.page-template-template-superpriset .bar-menu {
  background-color: #ffffff; }
body.page-template-template-lyckohjulet .mobile-menu.menu-active .bar-menu,
body.page-template-template-price .mobile-menu.menu-active .bar-menu,
body.page-template-template-superpriset .mobile-menu.menu-active .bar-menu {
  background-color: #000000; }

@media (min-width: 900px) {
  body.page-template-template-lyckohjulet .menu li a,
  body.page-template-template-price .menu li a,
  body.page-template-template-superpriset .menu li a {
    color: #ffffff; } }

li.page-item-165, li.page-item-114 {
  display: none; }

.mobile-menu.menu-active {
  height: 20px;
  width: 20px; }
  .mobile-menu.menu-active .bar-menu {
    background-color: #e80031; }

.footer {
  background-color: #000000;
  color: #ffffff; }

.footerContentContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 65px 54px 65px 54px;
  display: table;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000;
  box-sizing: border-box; }
  @media (min-width: 1200px) {
    .footerContentContainer {
      font-size: 18px;
      line-height: 1.667; } }

.footerSection {
  float: left; }

.footerLogo {
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-bottom: 54px;
  max-width: 150px; }
  @media (min-width: 900px) {
    .footerLogo {
      margin-bottom: 0; } }

.footerHeader {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px; }
  @media (min-width: 1200px) {
    .footerHeader {
      font-size: 18px;
      line-height: 1.667; } }
  @media (min-width: 600px) {
    .footerHeader {
      margin-top: 0;
      margin-bottom: 15px; } }
  @media (min-width: 900px) {
    .footerHeader {
      margin-bottom: 23px; } }

.footerBodyText {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000;
  font-size: 16px;
  color: #b4b5b4; }
  @media (min-width: 1200px) {
    .footerBodyText {
      font-size: 18px;
      line-height: 1.667; } }
  @media (min-width: 900px) {
    .footerBodyText {
      font-size: 14px; } }

.footer-menu {
  display: inline-block; }
  .footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer-menu ul li {
      font-family: 'HelveticaNeue', sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.55;
      text-align: left;
      color: #000000; }
      @media (min-width: 1200px) {
        .footer-menu ul li {
          font-size: 18px;
          line-height: 1.667; } }
      @media (min-width: 900px) {
        .footer-menu ul li {
          font-size: 14px; } }
      .footer-menu ul li a {
        text-decoration: none;
        color: #b4b5b4; }

.footerLink {
  text-decoration: none;
  color: #b4b5b4;
  display: block; }

.footerLinksContainer {
  float: right; }
  @media (min-width: 600px) {
    .footerLinksContainer {
      padding-right: 35px; } }
  @media (min-width: 900px) {
    .footerLinksContainer {
      padding-right: 0; } }

.topSlider {
  list-style: none;
  margin: 0;
  padding: 0; }

.activeSlide {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  width: 100%;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.inactiveSlide {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.slideSelector {
  position: absolute;
  bottom: 35px;
  display: table;
  z-index: 4;
  position: absolute;
  bottom: 6%;
  left: 50%; }
  @media (max-width: 599px) {
    .slideSelector {
      margin-right: 50%;
      transform: translate(-50%, -50%); } }
  @media (min-width: 600px) {
    .slideSelector {
      left: 0;
      bottom: 455px;
      padding-left: 54px; } }
  @media (min-width: 900px) {
    .slideSelector {
      bottom: 44px; } }

.sliderNum {
  display: table-cell;
  padding: 0 5px 0px 5px;
  vertical-align: middle;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #000000;
  cursor: pointer; }

.sliderNum.active {
  font-weight: bold; }

.prev {
  background-image: url("img/icons/arrow-prev.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: pointer; }

.next {
  background-image: url("img/icons/arrow-next.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: pointer; }

.numDiv {
  display: inline-block;
  padding-bottom: 3px; }

.productWrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 30px; }
  @media (min-width: 600px) {
    .productWrapper {
      padding-top: 40px;
      padding-bottom: 100px; } }
  @media (min-width: 900px) {
    .productWrapper {
      padding-top: 0;
      padding-bottom: 100px; } }
  @media (min-width: 1200px) {
    .productWrapper {
      padding-bottom: 150px; }
      .productWrapper .rel {
        min-height: 370px; } }

.productImgContainer {
  display: inline-block;
  background-color: #ffef36;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px 0 20px; }
  @media (min-width: 900px) {
    .productImgContainer {
      height: 300px; } }
  @media (min-width: 1200px) {
    .productImgContainer {
      height: 375px; } }

.bg {
  display: inline-block;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0; }
  @media (max-width: 599px) {
    .bg {
      position: relative;
      height: 60vw; } }

.productImg {
  position: relative;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 200px; }
  @media (min-width: 900px) {
    .productImg {
      max-width: 100%;
      max-height: 320px;
      bottom: 50px; } }
  @media (min-width: 1200px) {
    .productImg {
      bottom: 50px;
      max-height: 370px; } }

.txtFieldContainer--singleProd {
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  float: right; }
  @media (min-width: 600px) {
    .txtFieldContainer--singleProd {
      padding-top: 3vw;
      padding-left: 3vw;
      padding-bottom: 3vw;
      padding-right: 3vw; } }
  @media (min-width: 900px) {
    .txtFieldContainer--singleProd {
      padding: 40px 70px 70px 70px; } }

.puffContent.single {
  top: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.txtContainer--singleRight {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 35px 35px 35px 35px;
  margin-bottom: 25px; }
  @media (min-width: 600px) {
    .txtContainer--singleRight {
      padding: 45px;
      margin-bottom: 0;
      margin-left: 50%; } }
  @media (min-width: 900px) {
    .txtContainer--singleRight {
      padding: 70px; } }

@media (min-width: 600px) {
  .prodTxtContainer--all.singleLeft {
    padding: 45px; } }
@media (min-width: 900px) {
  .prodTxtContainer--all.singleLeft {
    padding: 90px; } }

.productTxtContainer {
  padding: 35px;
  box-sizing: border-box;
  float: right; }
  @media (min-width: 600px) {
    .productTxtContainer {
      padding: 50px; } }
  @media (min-width: 900px) {
    .productTxtContainer {
      padding: 90px; } }

.productIntroTxt {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000;
  font-size: 18px; }
  @media (min-width: 1200px) {
    .productIntroTxt {
      font-size: 18px;
      line-height: 1.667; } }

.productIntroSubHeader {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.58;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0; }
  @media (min-width: 600px) {
    .productIntroSubHeader {
      font-size: 14px;
      line-height: 1.667; } }
  .productIntroSubHeader:first-child {
    margin-top: 0; }

.productInformation {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.58;
  text-align: left;
  color: #000000; }
  @media (min-width: 600px) {
    .productInformation {
      font-size: 14px; } }

.allProducts {
  display: block;
  position: relative; }
  @media (min-width: 600px) {
    .allProducts {
      height: 115px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
      padding-top: 30px;
      box-sizing: border-box; } }
  @media (min-width: 600px) {
    .allProducts {
      background-color: #ffef36;
      height: 100px;
      padding-bottom: 0;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 900px) {
    .allProducts {
      height: 120px; } }
  @media (min-width: 1200px) {
    .allProducts {
      padding-top: 0;
      height: 150px;
      max-width: 80%;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 1800px) {
    .allProducts {
      padding-left: 30px;
      padding-right: 30px; } }
  .allProducts div:nth-child(1) {
    display: none; }
    @media (max-width: 599px) {
      .allProducts div:nth-child(1) {
        display: block;
        position: absolute;
        top: 57px;
        width: 100vw;
        height: 86px;
        background-color: #ffef36; } }
  .allProducts div:nth-child(2) {
    display: none; }
    @media (max-width: 599px) {
      .allProducts div:nth-child(2) {
        display: block;
        position: absolute;
        bottom: 0;
        width: 75vw;
        height: 88px;
        background-color: #ffef36; } }

.otherProductContainer {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  position: relative; }
  @media (max-width: 599px) {
    .otherProductContainer {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 35px;
      top: -107%;
      width: 32%; } }
  @media (min-width: 600px) {
    .otherProductContainer {
      width: 100px;
      top: -107%;
      margin-top: 0;
      margin-left: 5px;
      margin-right: 5px; } }
  @media (min-width: 900px) {
    .otherProductContainer {
      width: 140px;
      top: -65%;
      margin-left: 15px;
      margin-right: 15px; } }
  @media (min-width: 1200px) {
    .otherProductContainer {
      max-width: 150px;
      top: -35%;
      margin-left: 20px;
      margin-right: 20px; } }
  @media (min-width: 1800px) {
    .otherProductContainer {
      margin-left: 25px;
      margin-right: 25px; } }

.otherProductImg {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
  max-height: 70px; }
  @media (min-width: 600px) {
    .otherProductImg {
      max-height: 100px; } }
  @media (min-width: 1200px) {
    .otherProductImg {
      max-height: 150px; } }

.otherProductTitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  max-width: 100%;
  overflow: hidden;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: normal;
  color: #000000; }
  @media (max-width: 599px) {
    .otherProductTitle {
      font-size: 11px;
      line-height: 1.3;
      margin-top: 0;
      height: 32px; } }
  @media (min-width: 600px) {
    .otherProductTitle {
      font-size: 12px;
      line-height: 1.3;
      height: 32px; } }
  @media (min-width: 900px) {
    .otherProductTitle {
      font-size: 14px;
      line-height: 1.55;
      height: 20px; } }

.productsWrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 30px; }
  @media (min-width: 600px) {
    .productsWrapper {
      padding-top: 40px; } }
  @media (min-width: 900px) {
    .productsWrapper {
      padding-top: 0; } }

.productIntro {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000; }
  @media (min-width: 1200px) {
    .productIntro {
      font-size: 18px;
      line-height: 1.667; } }

.productHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 26px;
  line-height: 1.15384615; }
  @media (min-width: 900px) {
    .productHeader {
      font-size: 28px; } }

.prodImgContainer--all {
  display: inline-block;
  background-color: #ffef36;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 20px 0 20px; }
  @media (min-width: 600px) {
    .prodImgContainer--all {
      height: 250px; } }
  @media (min-width: 900px) {
    .prodImgContainer--all {
      height: 300px; } }
  @media (min-width: 1200px) {
    .prodImgContainer--all {
      height: 375px; } }

.productImg--all {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 200px; }
  @media (min-width: 600px) {
    .productImg--all {
      max-height: 250px; } }
  @media (min-width: 900px) {
    .productImg--all {
      max-height: 320px; } }
  @media (min-width: 1200px) {
    .productImg--all {
      max-height: 400px; } }

.prodTxtContainer--all {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 35px 35px 35px 35px;
  margin-bottom: 25px; }
  @media (min-width: 600px) {
    .prodTxtContainer--all {
      padding: 3vw 3vw 3vw 3vw;
      margin-bottom: 0;
      height: 250px; } }
  @media (min-width: 900px) {
    .prodTxtContainer--all {
      padding: 50px 50px 50px 50px;
      height: 300px; } }
  @media (min-width: 1200px) {
    .prodTxtContainer--all {
      min-height: 200px;
      height: 375px; } }
  .prodTxtContainer--all a {
    color: #000000;
    text-decoration: none;
    font-weight: bold; }

.historyWrapper {
  max-width: 1440px;
  margin: 0 auto; }

.imgContainer--history {
  display: block;
  min-height: 200px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 35px; }
  @media (min-width: 600px) {
    .imgContainer--history {
      padding-bottom: 3vw; } }
  @media (min-width: 900px) {
    .imgContainer--history {
      min-height: 300px;
      padding-bottom: 70px; } }
  @media (min-width: 1200px) {
    .imgContainer--history {
      min-height: 350px; } }

.txtContainer--history {
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 35px 35px 35px; }
  .txtContainer--history.padding-top {
    padding-top: 35px; }
  @media (min-width: 600px) {
    .txtContainer--history {
      padding-top: 0px;
      padding-left: 3vw;
      padding-bottom: 3vw;
      padding-right: 3vw; }
      .txtContainer--history.padding-top {
        padding-top: 3vw; } }
  @media (min-width: 900px) {
    .txtContainer--history {
      padding: 0px 70px 70px 70px; }
      .txtContainer--history.padding-top {
        padding-top: 70px; } }

.txtContent--history {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 0; }
  @media (min-width: 1200px) {
    .txtContent--history {
      font-size: 18px;
      line-height: 1.667; } }
  .txtContent--history p {
    margin-bottom: 10px; }
    .txtContent--history p:last-child {
      margin-bottom: 0; }

.heroCampaignWrapper {
  background-color: black; }

.heroCampaign {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh; }
  @media (min-width: 600px) {
    .heroCampaign {
      height: 50vh; } }
  @media (min-width: 900px) {
    .heroCampaign {
      height: 100vh; } }

.heroContent {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 95vh; }
  @media (min-width: 600px) {
    .heroContent {
      height: 50vh; } }
  @media (min-width: 900px) {
    .heroContent {
      height: 100vh; } }

.heroContent--Txt {
  position: relative;
  top: 45%;
  left: 50%;
  margin-right: 20%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  max-width: 800px; }
  @media (min-width: 900px) {
    .heroContent--Txt {
      top: 40%;
      margin-right: 40%; } }
  .heroContent--Txt p {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.55;
    text-align: left;
    color: #000000;
    color: inherit;
    text-align: center;
    padding-bottom: 20px; }
    @media (min-width: 1200px) {
      .heroContent--Txt p {
        font-size: 18px;
        line-height: 1.667; } }
    @media (min-width: 600px) {
      .heroContent--Txt p {
        padding-bottom: 30px; } }
  .heroContent--Txt a {
    color: #ffffff; }

.heroHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: inherit;
  margin-top: 0;
  margin-bottom: 15px; }
  @media (min-width: 600px) {
    .heroHeader {
      margin-bottom: 30px; } }
  @media (min-width: 900px) {
    .heroHeader {
      font-size: 40px;
      line-height: 1.125; } }
  @media (min-width: 1200px) {
    .heroHeader {
      font-size: 72px;
      line-height: 1.014; } }

.heroBtn {
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 50px;
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  color: #000000;
  line-height: 1.25;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 180px;
  height: 54px;
  font-size: 22px;
  cursor: pointer; }
  @media (min-width: 900px) {
    .heroBtn {
      font-size: 24px;
      width: 226px;
      height: 93px; } }
  .heroBtn:focus {
    outline: none; }

.videoQueueContainer {
  height: 95vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: none; }
  @media (min-width: 600px) {
    .videoQueueContainer {
      height: 50vh; } }
  @media (min-width: 900px) {
    .videoQueueContainer {
      height: 100vh; } }

.videoContainer {
  display: none;
  position: absolute;
  min-width: 320px;
  width: 100%;
  max-width: 1440px;
  height: 95vh;
  z-index: 4;
  overflow: hidden; }
  @media (min-width: 600px) {
    .videoContainer {
      height: 50vh; } }
  @media (min-width: 900px) {
    .videoContainer {
      height: 100vh; } }
  @media (min-width: 600px) {
    .videoContainer {
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%; } }

.videoPlayer {
  width: 1600px;
  height: 142vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.75);
  -ms-transform: translate(-50%, -50%) scale(0.75);
  transform: translate(-50%, -50%) scale(0.75);
  border: 0;
  z-index: 4; }
  @media (min-width: 600px) {
    .videoPlayer {
      height: 80vh; } }
  @media (min-width: 900px) {
    .videoPlayer {
      height: 95vh;
      -webkit-transform: translate(-15%, 0) scale(1);
      -ms-transform: translate(-15%, 0) scale(1);
      transform: translate(-15%, 0) scale(1);
      top: 0;
      left: 0; } }
  @media (min-width: 900px) and (min-width: 600px) {
    .videoPlayer {
      height: 50vh; } }
  @media (min-width: 900px) and (min-width: 900px) {
    .videoPlayer {
      height: 100vh; } }

  @media (min-width: 1200px) {
    .videoPlayer {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); } }

.prizeContainer {
  display: block;
  box-sizing: border-box;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 0 20px 20px 20px; }
  @media (min-width: 600px) {
    .prizeContainer {
      height: 50vh; } }
  @media (min-width: 900px) {
    .prizeContainer {
      height: 100vh; } }
  @media (min-width: 600px) {
    .prizeContainer {
      padding: 0 54px 20px 54px; } }

.queueInfo {
  font-family: 'Bullens-Bold', sans-serif;
  line-height: 1.25;
  font-weight: bold; }
  .queueInfo h1 {
    margin-bottom: 10px; }
  .queueInfo h3 {
    color: inherit;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px; }
  .queueInfo h3 + p {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 18px;
    margin-bottom: 10px; }

.timesUp {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000; }
  @media (min-width: 1200px) {
    .timesUp {
      font-size: 18px;
      line-height: 1.667; } }
  .timesUp a {
    color: #ffffff; }

.getPrizeContainer {
  background-image: url("img/stream_prov.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  overflow: hidden; }

.darkModal {
  display: block;
  height: 95vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5; }
  @media (min-width: 600px) {
    .darkModal {
      height: 50vh; } }
  @media (min-width: 900px) {
    .darkModal {
      height: 100vh; } }

.inputField {
  display: block;
  height: 46px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #b4b5b4;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px 21px 5px 21px;
  font-family: 'HelveticaNeue', sans-serif;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  @media (min-width: 600px) {
    .inputField {
      width: 396px;
      margin-bottom: 30px; } }
  .inputField:focus {
    outline: none; }

.prizeContainer--prizeForm {
  position: absolute;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  height: auto;
  color: #ffffff;
  padding: 0 20px 20px 20px; }
  @media (max-width: 599px) {
    .prizeContainer--prizeForm {
      display: none; } }
  @media (min-width: 600px) {
    .prizeContainer--prizeForm {
      padding: 0 54px 20px 54px; } }

.inputField--superPrize {
  display: block;
  height: 46px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #b4b5b4;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  font-family: 'HelveticaNeue', sans-serif;
  margin-bottom: 11px;
  position: relative; }
  @media (min-width: 600px) {
    .inputField--superPrize {
      width: 320px; } }
  @media (min-width: 900px) {
    .inputField--superPrize {
      width: 396px; } }
  .inputField--superPrize:focus {
    outline: none; }

@media (min-width: 600px) {
  .inputField--superPrize.city {
    width: 241px;
    display: inline-block;
    margin-right: 16px; } }

@media (min-width: 600px) {
  .inputField--superPrize.zip {
    width: 136px;
    display: inline-block; } }

textarea[name=motivation].inputField--superPrize {
  height: 162px;
  border-radius: 10px;
  resize: none; }
  @media (min-width: 1200px) {
    textarea[name=motivation].inputField--superPrize {
      width: 545px; } }
  textarea[name=motivation].inputField--superPrize:focus {
    outline: none; }

.dropDown {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 46px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #b4b5b4;
  border-radius: 50px;
  background-image: url("img/icons/arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 21px center;
  padding: 10px 21px 10px 21px; }
  @media (min-width: 600px) {
    .dropDown {
      width: 281px; } }
  .dropDown:focus {
    outline: none; }

.btn--superPrize {
  display: block;
  background-color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 50px;
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.25;
  margin-top: 17px;
  width: 136px;
  height: 46px;
  font-size: 24px; }
  .btn--superPrize:focus {
    outline: none; }
  @media (min-width: 900px) {
    .btn--superPrize {
      width: 156px;
      height: 64px; } }

.formLabel {
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 16px;
  line-height: 1.55;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-indent: 20px; }

.formSection {
  display: inline-block;
  box-sizing: border-box; }
  @media (min-width: 600px) {
    .formSection {
      float: left; }
      .formSection:nth-child(2) {
        padding-left: 30px; } }

.formwrapper {
  background-color: #f0f0f0; }

.formContainer--super, .formConfirmation {
  box-sizing: border-box;
  padding: 35px 35px 35px 35px; }
  @media (min-width: 600px) {
    .formContainer--super, .formConfirmation {
      min-height: 780px; } }
  @media (min-width: 900px) {
    .formContainer--super, .formConfirmation {
      padding: 50px 50px 50px 50px; } }
  @media (min-width: 1200px) {
    .formContainer--super, .formConfirmation {
      padding: 70px; } }
  .formContainer--super h2, .formConfirmation h2 {
    font-family: 'Bullens-Bold', sans-serif;
    font-weight: bold;
    text-align: left;
    color: #000000;
    font-size: 26px;
    line-height: 1.15384615; }
    @media (min-width: 900px) {
      .formContainer--super h2, .formConfirmation h2 {
        font-size: 28px; } }
  .formContainer--super p, .formConfirmation p {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.55;
    text-align: left;
    color: #000000;
    margin-bottom: 27px; }
    @media (min-width: 1200px) {
      .formContainer--super p, .formConfirmation p {
        font-size: 18px;
        line-height: 1.667; } }

.formConfirmation {
  display: none; }

.heroContent--super {
  background-image: url("img/bullensbilen.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 95vh; }
  @media (min-width: 600px) {
    .heroContent--super {
      height: 50vh; } }
  @media (min-width: 900px) {
    .heroContent--super {
      height: 100vh; } }
  .heroContent--super:focus {
    outline: none; }

#heroBtn-compete {
  display: none;
  cursor: pointer; }

.error {
  border: 1px solid #e80031; }

.txtFieldImgContainer {
  display: inline-block;
  height: 250px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 600px) {
    .txtFieldImgContainer {
      height: 300px; } }
  @media (min-width: 900px) {
    .txtFieldImgContainer {
      height: 400px; } }

.txtFieldImgContainer--single {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 600px) {
    .txtFieldImgContainer--single {
      height: 300px; } }
  @media (min-width: 900px) {
    .txtFieldImgContainer--single {
      height: 400px; } }

.txtFieldHeader {
  margin-top: 0; }

.txtField {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000; }
  @media (min-width: 1200px) {
    .txtField {
      font-size: 18px;
      line-height: 1.667; } }
  .txtField p + p {
    margin-bottom: 10px; }
  .txtField a {
    color: #000000;
    text-decoration: none;
    font-weight: bold; }
    .txtField a:hover {
      text-decoration: underline; }

.txtFieldImg {
  height: auto;
  width: 100%;
  top: 0;
  right: 0; }

.txtFieldContainer {
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  float: right; }
  @media (min-width: 600px) {
    .txtFieldContainer {
      padding-top: 3vw;
      padding-left: 3vw;
      padding-bottom: 3vw;
      padding-right: 3vw; } }
  @media (min-width: 900px) {
    .txtFieldContainer {
      padding: 70px 70px 70px 70px; } }

/* General styling */
body {
  background-color: #fff; }

/* Fallback header styling */
h1, h2, h3, h4 {
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 26px;
  line-height: 1.15384615; }
  @media (min-width: 900px) {
    h1, h2, h3, h4 {
      font-size: 28px; } }

p {
  margin: 0;
  font-family: 'HelveticaNeue', sans-serif; }

fieldset {
  border: 0; }

.left {
  float: left; }

.right {
  float: right; }

.rel {
  position: relative; }

.x-padding-top {
  padding-top: 70px; }

.pageContentWrapper--no-img {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 100px; }
  @media (min-width: 600px) {
    .pageContentWrapper--no-img {
      padding-top: 100px; } }
  @media (min-width: 900px) {
    .pageContentWrapper--no-img {
      padding-top: 200px; } }

.pageContentWrapper--img {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

.maxWidth {
  max-width: 1440px;
  margin: 0 auto; }

.topImgContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh; }
  @media (max-width: 599px) {
    .topImgContainer {
      background-size: auto 100%;
      background-position: center right -130px; } }
  @media (min-width: 600px) {
    .topImgContainer {
      height: 50vh; } }
  @media (min-width: 900px) {
    .topImgContainer {
      height: 100vh; } }

.topImg {
  width: 100%;
  height: 210px; }
  @media (min-width: 600px) {
    .topImg {
      height: 435px; } }
  @media (min-width: 900px) {
    .topImg {
      height: 575px; } }
  @media (min-width: 1200px) {
    .topImg {
      height: 1100px; } }

.pageHeaderContainer {
  position: absolute;
  top: 10%;
  padding: 35px 35px 35px 20px;
  box-sizing: border-box; }
  @media (min-width: 600px) {
    .pageHeaderContainer {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 0 0 54px; } }
  @media (min-width: 900px) {
    .pageHeaderContainer {
      top: 50%; } }
  @media (min-width: 1200px) {
    .pageHeaderContainer {
      top: 50%; } }

.pageHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #000000;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box; }
  @media (min-width: 900px) {
    .pageHeader {
      font-size: 40px;
      line-height: 1.125; } }
  @media (min-width: 1200px) {
    .pageHeader {
      font-size: 72px;
      line-height: 1.014; } }
  .pageHeader a {
    text-decoration: none;
    color: #000000; }
    .pageHeader a:hover {
      text-decoration: underline; }

.subHeader {
  font-family: 'Bullens-Bold', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 26px;
  line-height: 1.15384615; }
  @media (min-width: 900px) {
    .subHeader {
      font-size: 28px; } }
  .subHeader a {
    text-decoration: none;
    color: #000000; }
    .subHeader a:hover {
      text-decoration: underline; }

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

.imgRight {
  display: inline-block; }
  @media (min-width: 600px) {
    .imgRight {
      float: right;
      clear: both; } }

.imgLeft {
  display: inline-block; }
  @media (min-width: 600px) {
    .imgLeft {
      float: left;
      clear: both; } }

.puffWrapper {
  max-width: 1440px;
  margin: 0 auto; }

.puffTxtContainer {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px; }
  @media (min-width: 600px) {
    .puffTxtContainer {
      height: 300px; } }
  @media (min-width: 900px) {
    .puffTxtContainer {
      padding: 50px 50px 50px 50px;
      height: 350px; } }
  @media (min-width: 1200px) {
    .puffTxtContainer {
      padding: 70px 70px 70px 70px;
      height: 400px; } }

.puffContent {
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.55;
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 0; }
  @media (min-width: 1200px) {
    .puffContent {
      font-size: 18px;
      line-height: 1.667; } }
  @media (min-width: 600px) {
    .puffContent {
      font-size: 14px;
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); } }
  @media (min-width: 900px) {
    .puffContent {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    .puffContent {
      font-size: 18px;
      line-height: 1.667; } }
  .puffContent a {
    color: #000000;
    text-decoration: none;
    font-weight: bold; }
    .puffContent a:hover {
      text-decoration: underline; }
  .puffContent p + h3 {
    margin-top: 40px; }

.puffContent.facts {
  top: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

a .puffHeader:hover {
  text-decoration: underline; }

.puffHeader {
  margin-top: 0;
  margin-bottom: 10px; }
  @media (min-width: 900px) {
    .puffHeader {
      margin-bottom: 20px; } }

.puffDivider p {
  display: inline; }

.puffImgContainer {
  display: block;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px; }
  @media (min-width: 600px) {
    .puffImgContainer {
      height: 300px; } }
  @media (min-width: 900px) {
    .puffImgContainer {
      height: 350px; } }
  @media (min-width: 1200px) {
    .puffImgContainer {
      height: 400px; } }

@media (min-width: 1200px) {
  .puffImg {
    width: 100%; } }

.contactWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  min-height: 65vh; }
  @media (min-width: 600px) {
    .contactWrapper {
      padding-top: 130px; } }
  @media (min-width: 1200px) {
    .contactWrapper {
      padding-top: 200px; } }

/*# sourceMappingURL=style.css.map */
