@import "scss/normalize";
@import "scss/variables";
@import "scss/mixins";
@import "scss/grid.scss";
@import "scss/header-&-menu";
@import "scss/footer";
@import "scss/start";
@import "scss/single-product";
@import "scss/all-products";
@import "scss/history";
@import "scss/campaign";
@import "scss/txt-page";

/* General styling */
body {
  background-color: #fff;
}
/* Fallback header styling */
h1, h2, h3, h4 {
  @include subHeader;
}

p {
  margin: 0;
  font-family: 'HelveticaNeue', sans-serif;
}
fieldset {
  border: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.rel {
  position: relative;
}
.x-padding-top {
  padding-top: 70px;
}

.pageContentWrapper--no-img {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 100px;

  @include for-tablet-portrait-up {
    padding-top: 100px;
  }
  @include for-tablet-landscape-up {
    padding-top: 200px;
  }
}
.pageContentWrapper--img {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
.maxWidth {
  max-width: 1440px;
  margin: 0 auto;
}

.topImgContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;

  @include for-phone-only {
    background-size: auto 100%;
    background-position: center right -130px;
  }
  @include for-tablet-portrait-up {
    height: 50vh;
  }
  @include for-tablet-landscape-up {
    height: 100vh;
  }
}
.topImg {
  width: 100%;
  height: 210px;
  @include for-tablet-portrait-up {
    height: 435px;
  }
  @include for-tablet-landscape-up {
    height: 575px;
  }
  @include for-desktop-up {
    height: 1100px;
  }

}
.pageHeaderContainer {
  position: absolute;
  top: 10%;
  padding: 35px 35px 35px 20px;
  box-sizing: border-box;

  @include for-tablet-portrait-up {
    position: absolute;
    top: 50%;
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform: translateY(-50%);
    padding: 0 0 0 54px;
  }
  @include for-tablet-landscape-up {
    top: 50%;
  }
  @include for-desktop-up {
    top: 50%;
  }
}
.pageHeader {
  @include mainHeader;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.subHeader {
  @include subHeader;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
}
a {
    text-decoration: none;
    color: $black;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
}

//Puff content -- used across the site
//Positioning for img containers
.imgRight {
  display: inline-block;
  @include for-tablet-portrait-up {
    float: right;
    clear: both;
  }
}
.imgLeft {
  display: inline-block;
  @include for-tablet-portrait-up {
    float: left;
    clear: both;
  }
}

.puffWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.puffTxtContainer {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 35px 35px 35px 35px;
  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    padding: 50px 50px 50px 50px;
    height: 350px;
  }

  @include for-desktop-up {
    padding: 70px 70px 70px 70px;
    height: 400px;
  }

}
.puffContent {
  overflow: hidden;
  box-sizing: border-box;
  @include bodyText;
  padding: 0;
  margin: 0;
  @include for-tablet-portrait-up {
    font-size: 14px;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  @include for-tablet-landscape-up {
    font-size: 16px;
  }
  @include for-desktop-up {
    font-size: 18px;
    line-height: 1.667;
  }
  a {
    color: $black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
  p + h3 {
    margin-top: 40px;
  }
}
.puffContent.facts {
  top: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
a {
  .puffHeader {
    &:hover {
      text-decoration: underline;
    }
  }
}
.puffHeader {
  margin-top: 0;
  margin-bottom: 10px;
  @include for-tablet-landscape-up {
    margin-bottom: 20px;
  }
}
.puffDivider {
  p {
    display: inline;
  }
}
.puffImgContainer {
  display: block;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;

  @include for-tablet-portrait-up {
    height: 300px;
  }
  @include for-tablet-landscape-up {
    height: 350px;
  }
  @include for-desktop-up {
    height: 400px;
  }
}
.puffImg {
  @include for-desktop-up {
    width: 100%;
  }
}

.contactWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  min-height: 65vh;
  @include for-tablet-portrait-up {
    padding-top: 130px;
  }
  @include for-desktop-up {
    padding-top: 200px;
  }
}
